* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  /*align-items: center;*/
  /*border: 1px solid #333;*/
  /*margin: 2%;*/
  overflow: hidden;
  /*width: auto;*/
}
.item img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



@media only screen and (max-width: 767px) {

  .item >a >img {
    width: auto;
    display: block;
    margin: auto;
    }

}

@media only screen and (max-width:768px) {

  .item > a >img {
    width: auto;
    display: block;
    margin: auto;
    }

}


@media only screen and (min-width: 768px) and (max-width: 989px){

  .item > a> img {
      width: auto;
      display: block;
      margin: auto;
      }

}


@media only screen and (min-width: 980px) and (max-width: 1280px){
  .item > a > img {
      width: auto;
      display: block;
      margin: auto;
      }

}

@media only screen and (min-width: 481px) and (max-width: 767px){
   .item > a> img {
      width: auto;
      display: block;
      margin: auto;
      }
}